.vh-80{
    height: 80vh;
}

.error{
    color: red;
    font-size: 22px;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

body {
  overflow-x: hidden;
  padding-top: 56px; /* only if your navbar is fixed */
}
